.comment-container {
    margin: 20px auto;
    border: 1px solid black;
    background: white;
    font-family: 'Arial';
    padding: 10px 25px;
    max-width: 600px;
}

.comment-container header {
   display: flex;
   align-items: center;
}

.comment-container .comment-username {
    color: #0c67e6;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.comment-container .comment-username:hover {
  text-decoration: underline;
}

.comment-container img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.comment-container .comment-create-date { 
    color: #898787;
    margin-top: 15px;
    font-size: 15px;
}