.notification {
    margin: 30px auto;
    cursor: pointer;
    border: 1px solid black;
    background: white;
    font-family: 'Arial';
    max-width: 600px;
    min-width: 400px;
    padding: 25px;
}

.notification main {
    display: grid;
    grid-template-columns:1fr auto 1fr;
    column-gap: 15px;
}

.notification .notification-round-img img {
    top: 20px;
    right: 5px;
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.notification main p {
    max-width: 370px;
}

.notification main span {
    font-weight: bold;
}

.notification main span:hover {
    text-decoration: underline;
}

.notification .notification-square-img img {
    top: 12px;
    position: relative;
    width: 75px;
    height: 75px;
}

.notification .notification-button-group button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    padding: 15px;
    position: relative;
    top: 20px;
}

.notification .notification-button-group .follow-button {
    background: #027feb;
    color: white;
}

.notification .notification-button-group .follow-button:hover {
    background: #054a85;
}

.notification .notification-create-date {
    color: #898787;
    margin-top: 15px;
    font-size: 15px;
}